<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjboy.account_pick.mapper.GameMapper">
  <resultMap id="BaseResultMap" type="com.pjboy.account_pick.model.GameDO">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
  </resultMap>
  <select id="selectGamesPage" resultMap="BaseResultMap">
    SELECT
    tb_game.*
    FROM tb_game
    <where>
      <if test="name != null">
        tb_game.name LIKE CONCAT('%',#{name},'%')
      </if>
    </where>
  </select>
  <insert id="insertChannelsAndGameId" parameterType="com.pjboy.account_pick.model.from.GameFrom">
    INSERT INTO tb_game_channel(game_id,channel_id)
    VALUES
    <foreach collection="gameFrom.channelList" item="channelId" separator=",">
      (#{gameFrom.id},#{channelId})
    </foreach>
  </insert>
</mapper>
